#navbar
{
    background-color: white;
}
.col-sm-4
{
	padding: 15px;
}
	
.flipx {
	-webkit-perspective: 800;
	width: 100%;
	height: 240px;
	position: relative;
	border: 1px solid #ccc;
	box-shadow: 3px 3px 10px rgba(12, 0, 0, 0.2);;
}
.flipx .card:hover {
  -webkit-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}
.flipx .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flipx .card .face {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	-webkit-backface-visibility: hidden ;
	z-index: 2;
	font-family: Georgia;
	font-size: 3em;
	text-align: center;
	line-height: 200px;
}
.flipx .card .front {
  position: absolute;
  z-index: 1;
    background: #f8f8f8;
    color: white;
    cursor: pointer;
}
.flipx .card .back {
	-webkit-transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
    background: blue;
    background: #f8f8f8;
    color: black;
    cursor: pointer;
}
.paragraph
{
	line-height: 48px;
	/* text-align: justify; */
	color: white;
	font-size: 21px;
}
.box1
{
	background-color: rgb(244, 51, 132);
}
.box2
{
	background-color: rgb(23, 209, 234, 100%);
}
.box3
{
	background-color: rgba(144, 88, 236, 100%);
}
.box4
{
	background-color: rgb(84, 207, 8);
}